/* 
~~~~~~~~~~~~~~~~~~~~~~
File name: ./info151-weather-main/css/style.css
Purpose: INFO151-001 - Team Project external CSS
Author: Eric Li
DrexelId: el836
Complete Date: 6/8/2026
~~~~~~~~~~~~~~~~~~~~~~
*/

/*Juneau page css*/
.juneau-page .app-header {
    display: flex;
    align-items: center;
    position: relative;
    color: #FACF08;
    background-color: #56BDFF;
}

.juneau-page .header-icon {
    position: absolute;
    left: 10px;
}

.juneau-page .app-header h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.juneau-page .name-section {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

.juneau-page .nav-arrow {
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.juneau-page .city-name {
    margin: 5px;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
}

.juneau-body {
    background-color: #990000;
    margin: 0;
    padding: 0;
}
