/* 
~~~~~~~~~~~~~~~~~~~~~~
File name: ./info151-weather-main/css/style.css
Purpose: INFO151-001 - Team Project external CSS
Author: Eric Li
DrexelId: el836
Complete Date: 6/8/2026
~~~~~~~~~~~~~~~~~~~~~~
*/

/*Juneau page css*/
.juneau-page .app-header {
    display: flex;
    align-items: center;
    position: relative;
    color: #FACF08;
    background-color: #56BDFF;
    font-size: 1.5rem;
}

.juneau-page .header-icon {
    position: absolute;
    left: 10px;
    font-size: 2.25rem;
}

.juneau-page .app-header h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.juneau-page .name-section {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

.juneau-page .nav-arrow {
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.juneau-page .city-name {
    margin: 0;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    font-style: italic;
}

.juneau-page .weather-section {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.juneau-page .weather-name {
    margin: 0;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
}

.juneau-page .temperature-section {
    text-align: center;
}

.juneau-page .current-temp {
    margin: 0;
    font-size: 7.5rem;
    color: white;
}

.juneau-page .high-low-temp {
    margin: 0;
    font-size: 1.7rem;
}

.juneau-page .extra {
    margin: 0;
    line-height: 0.5;
    padding-left: 475px;
    font-size: 1.7rem;
}

.juneau-page .juneau-map {
    width: 37%;
    display: block;
    margin: 0 auto;
}

.juneau-body {
    background-color: #990000;
    margin: 0;
    padding: 0;
}
